# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/

# Airflow
airflow.db
logs/

# React / Node
node_modules/
build/
dist/
.env.local
npm-debug.log*
.yarn/
.vite/

# IDEs / Editores
.vscode/
.idea/
*.swp

